/**
 * Main colors.
 */
$brand: #58c800;
$white: #f9f9f9;
$text: #323232;

.section-sort {
    padding: 0 0 100px
}

// Terms & sorting types list wrappers.
.terms-wrapper,
.sorting-wrapper {
    margin: 0 0 15px
}

// Sort by price wrapper.
.price-sorting-wrapper {
    margin: 0 0 30px
}

// Icons before terms/sort wrapper.
.cwpgt-icon,
.cwpgt-icon_sort {
    color: $brand;
    width: 16px;
    text-align: center;
    margin-right: 10px
}

.cwpgt-icon_sort {
    margin: 0 5px 0 0
}

.cwpgt-apply-filters {
    cursor: pointer;
    color: #b5b5b5;
    transition: all ease-in-out 300ms;

    &:hover {
        color: $brand
    }
}

// Terms/sorting items list.
.terms,
.sorting,
.price-sorting {
    display: inline-block
}

// Term/sorting list item.
.term,
.sort {
    display: inline-block;
    margin-right: 15px;
    color: #b5b5b5;
    text-transform: lowercase;
    transition: all ease-in-out 300ms;
    cursor: pointer;

    &:last-child {
    	margin-right: 0
    }

    &:hover {
    	color: $brand
    }
}

// Text inputs for min & max prices.
.price-sorting__input[type="text"] {
    display: inline-block;
    width: 60px;
    border-color: #b5b5b5;
    margin-right: 30px;
    color: #b5b5b5;
    text-align: center
}

// Active class.
.cwpgt_active {
	color: $brand
}

// Simple (success) message after Ajax request when sorting.
.sorting-message {
    margin-left: 15px;
    animation: sorting-message-fade-out linear 5s 1;
}

// Error message (Ajax response).
.sorting-message_error {
    color: #ff3e3e
}

@keyframes sorting-message-fade-out {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

/**
 * Single product.
 */
.cwpgt-product {
    position: relative;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    overflow: hidden;
    transition: all ease-in-out 300ms;
    background-color: #fff;
    overflow: hidden;
    margin: 0 0 30px;

    &:hover {
        border-color: $brand
    }
}

/**
 * Product image.
 */
.cwpgt-product-image {
    height: 300px;
    background-size: cover;
    background-position: center center
}

/**
 * Product title text.
 */
.cwpgt-product-text__header {
    font-size: 16px;
    margin: 0;
    text-transform: none
}

/**
 * Product term.
 */
.cwpgt-product-term {
    padding: 10px 15px 0
}

/**
 * Product term link.
 */
.cwpgt-product-term__link {
    font-size: 16px;
    color: #b5b5b5
}

/**
 * Product name and price wrapper.
 */
.cwpgt-product-info {
    padding: 10px 15px;
    height: 52px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    overflow: hidden
}

/**
 * Product price.
 */
.cwpgt-product-price__new {
    display: block;
    text-align: right;
    font-size: 27px;
    font-family: 'Fira Sans';
    white-space: nowrap
}

/**
 * Price currency.
 */
.cwpgt-product-price__currency {
    font-size: 18px
}

/**
 * Overlays for animation when clicking PLUS sign.
 */
.cwpgt-button-overlay-before,
.cwpgt-button-overlay-before_brand {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: $white;
    transition: all ease-in-out 300ms
}

/**
 * Green overlay.
 */
.cwpgt-button-overlay-before_brand {
    background-color: $brand;
    opacity: 0.85
}

/**
 * Overlays styles when they are visible.
 */
.cwpgt-button-overlay-before_active {
    width: 800px;
    height: 800px;
    margin-right: -80%;
    margin-top: -80%
}

/**
 * Buttons with more slide info.
 */
.cwpgt-button-overlay {
    display: none;
    align-content: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 45px;
    z-index: 1;
    transition: all ease-in-out 300ms;

    .button {
        margin-bottom: 15px;

        &:last-child {
            margin: 30px 0 0
        }
    }
}

/**
 * Wrapper for PLUS sign on product image.
 */
.cwpgt-product-actions,
.close-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: all ease-in-out 300ms;
    z-index: 1;

    &:hover {
        background-color: $brand;

        .cwpgt-product-actions__line {
            background-color: $white
        }
    }
}

.close-popup {
    transform: rotate(45deg)
}

// Active PLUS sign to be shown as CLOSE sign.
.cwpgt-product-actions_active {
    transform: rotate(45deg)
}

/**
 * Lines (horizontal & vertical) making PLUS sign on product image.
 */
.cwpgt-product-actions__line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: $brand;
    transition: all ease-in-out 300ms
}

.cwpgt-product-actions__line_cross {
    transform: rotate(90deg);
    margin-top: -2px
}

/**
 * More info about product, when PLUS icon is clicked.
 */
.cwpgt-more-info-wrapper {
    opacity: 0;
    display: none;
    grid-template-columns: 30% 70%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99
}

// Block for more product info.
.cwpgt-more-info {
    opacity: 0;
    background-color: #fff;
    height: 100%;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    padding: 80px 30px 20px;
    overflow-y: scroll;
    z-index: 1
}

// More info product title.
.cwpgt-more-info__title {
    color: #b5b5b5;
    text-transform: lowercase;
    font-size: 35px;
    margin-bottom: 15px
}

// Vertical line for header with brand color.
.cwpgt-vertical-line-for-header {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 100%;
        margin-bottom: -30px;
        left: 100px;
        width: 1px;
        height: 100px;
        background-color: $brand
    }
}

// Right part wrapper.
.cwpgt-more-info-right {
    position: relative;
    padding: 0 0 80px
}

// Full size image in product more info block.
.cwpgt-more-info-image-wrapper {
    opacity: 0;
    position: relative;
    background-color: transparent;
    height: 100%;
    background-size: cover;
    background-position: center center
}

// More product images.
.cwpgt-more-info-images {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    cursor: pointer;
    text-align: center;

    .owl-stage-outer,
    .owl-stage,
    .owl-item,
    .cwp-more-info-image {
        height: inherit
    }

    .owl-stage-outer {
        display: inline-block;
        width: auto;
        max-width: 100%
    }

    .owl-stage {
        display: inline-block
    }

    &.owl-theme {
        .owl-nav {
            margin-top: 0;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            left: 0;
            width: 100%;
            height: 0;
            padding: 0 5px;

            button {
                &.owl-prev,
                &.owl-next {
                    position: relative;
                    background-color: transparent;
                    margin: 0 !important;
                    height: 50px;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }

            .owl-prev {
                float: left;

                .cwpgt-product-actions__line {
                    position: relative;
                    transform: rotate(-45deg);
                    top: -10px
                }

                .cwpgt-product-actions__line_cross {
                    position: relative;
                    transform: rotate(45deg);
                    top: 10px
                }
            }

            .owl-next {
                float: right;

                .cwpgt-product-actions__line {
                    position: relative;
                    transform: rotate(45deg);
                    top: -10px
                }

                .cwpgt-product-actions__line_cross {
                    position: relative;
                    transform: rotate(-45deg);
                    top: 10px
                }
            }
        }
    }
}

// Products' more info image.
.cwpgt-more-info-image {
    height: inherit;
    background-size: cover;
    background-position: center center
}

// Active image.
.cwpgt-more-info-image_active {
    border: 3px solid $brand
}

// Preloader before product info.
.cwpgt-product-more-info-preloader {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background-color: #fff;
    align-content: center;
    justify-content: center
}

// Preloader icon.
.cwpgt-product-more-info-preloader__icon {
    font-size: 100px;
    color: $brand;
    animation: cwpgt-spin linear 1s infinite
}

// Spin animation for more product info preloader.
@keyframes cwpgt-spin {
    50% {
        transform: rotate( 180deg )
    }
    100% {
        transform: rotate( 360deg )
    }
}

// Prices block.
.cwpgt-more-info-prices {
    margin-bottom: 45px
}

// Old price in more product info.
.cwpgt-more-info-prices__old {
    position: relative;
    font-size: 21px;
    color: #b5b5b5;
    margin-right: 15px;

    // Cross line.
    &::after {
        content: '';
        width: 110%;
        height: 2px;
        background-color: #b5b5b5;
        position: absolute;
        top: 15px;
        left: -3px
    }
}

// Price currency in more product info.
.cwpgt-more-info-prices__currency {
    font-size: 16px;
    margin-left: 3px
}

// New price in more product info.
.cwpgt-more-info-prices__new {
    font-size: 30px;
    color: $brand
}

// Specification item.
.cwpgt-more-info-item {
    opacity: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;

    &:last-of-type {
        margin-bottom: 0
    }
}

// Icon for specification item.
.cwpgt-more-info__icon {
    position: relative;
    top: -1px;
    font-size: 14px;
    margin-right: 8px;
    color: $brand
}

// Label text for specification item.
.cwpgt-product__label {
    font-weight: bold;
    margin-right: 15px
}

// Specification value (right side text from label).
.cwpgt-product__value {
    color: #9c9c9c
}

// Product color list item (text & color wrapper).
.cwpgt-more-info-colors-item {
    display: inline-block;
    text-align: center;
    min-width: 60px;
    cursor: pointer;

    &:hover {
        & > .cwpgt-more-info-colors-item__title {
            color: $brand
        }

        & > .cwpgt-more-info-colors-item__color {
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15)
        }
    }
}

.cwpgt-more-info-colors-item_active {
    & > .cwpgt-more-info-colors-item__title {
        font-weight: bold;
        color: $brand
    }

    & > .cwpgt-more-info-colors-item__color {
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15)
    }
}

// Product color element title.
.cwpgt-more-info-colors-item__title {
    display: block;
    font-size: 14px;
    text-transform: lowercase;
    transition: all ease-in-out 300ms
}

// Product color element.
.cwpgt-more-info-colors-item__color {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    transition: all ease-in-out 300ms
}

// More info buttons wrapper.
.cwpgt-more-info-buttons {
    margin-top: 30px;
    text-align: center
}

// More info buttons block single button.
.cwpgt-more-info-buttons__button {
    margin: 10px
}

.cwpgt-pagination {
    margin-top: 15px;
    padding: 0 10px;
    text-align: right;

    .page-numbers {
        font-size: 21px;
        margin: 0 5px;
        color: $text;

        &.current {
            color: $brand;
            font-weight: bold
        }
    }

    .cwpgt-pagination__previous,
    .cwpgt-pagination__next {
        position: relative;
        width: 30px;
        height: 43px;
        top: -10px;

        .cwpgt-product-actions__line,
        .cwpgt-product-actions__line_cross {
            position: relative;
            background-color: $text
        }
    }

    .cwpgt-pagination__previous {
        margin-right: 30px;

        .cwpgt-product-actions__line {
            transform: rotate(-45deg);
            top: 10px
        }

        .cwpgt-product-actions__line_cross {
            transform: rotate(45deg);
            top: 30px
        }
    }

    .cwpgt-pagination__next {
        margin-left: 30px;

        .cwpgt-product-actions__line {
            transform: rotate(45deg);
            top: 10px
        }

        .cwpgt-product-actions__line_cross {
            transform: rotate(-45deg);
            top: 30px
        }
    }
}

@media (max-width : 991px) {
    .cwpgt-more-info {
        grid-area: mi;
    }

    .cwpgt-more-info-right {
        grid-area: mir;
        margin-bottom: 10px
    }

    .cwpgt-more-info-wrapper {
        grid-template-rows: 600px 1000px;
        grid-template-areas:
        'mir mir mir'
        'mi  mi  mi';
        overflow-y: scroll
    }

    .cwpgt-pagination {
        text-align: center
    }
}

@media (max-width : 767px) {
    .cwpgt-product {
        width: 290px;
        margin: 0 auto 30px
    }

    .cwpgt-more-info-wrapper {
        grid-template-rows: 400px 1000px
    }

    .cwpgt-icon {
        vertical-align: top
    }

    .term,
    .sort {
        padding: 10px 0
    }

    .price-sorting__input[type="text"] {
        width: 50px;
        margin-right: 20px
    }
}

@media (max-width : 480px) {
    .cwpgt-pagination {
        .cwpgt-pagination__previous {
            margin-right: 15px
        }

        .cwpgt-pagination__next {
            margin-left: 15px
        }
    }
}